
.card {
    box-shadow: 2px 1px 5px #b3afaf;
    display: flex;
    width: 90vh;
    border: 5px solid gray;
}

.card img {
    width: 350px;
}

.card .card-title {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
}

.card .card-content {
    padding: 10px;
    padding-left: 20px;
}

.card .card-footer {
   border-top: 1px solid #b3afaf;
   padding: 10px;
   text-align: right;
}

.btn-default {
    display: inline-block;
    text-decoration: none;
    background: #0099ff;
    color: #fff;
    padding: 10px 15px;
    float: left;
}
